@use "@core/scss/base/mixins";

%nav-link-active {
  background: linear-gradient(
    -72.47deg,
    rgb(255, 167, 38) 22.16%,    // #FFA726
    rgb(251, 140, 0) 76.47%      // #FB8C00
  ) !important;

  i {
    color: rgb(255, 255, 255) !important;
  }

  @include mixins.elevation(4);
}


// ℹ️ This is common style that needs to be applied to both navs
%nav {
  .nav-item-title {
    line-height: 1.375rem;
  }
}
